// Open-Order backend

.navbar {
    display: none;
}

.ng-auth {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin: 100px 0 0 0;

    img {
        margin: 40px auto;
        display: block;
    }
}