<div class="ng-components">
    <h1>Manage your steps and components</h1>

    <div class="tabbable">
        <div class="pull-right">
            <a data-toggle="modal" href="#sectionModal" class="btn "><i class="icon-plus"></i> Add a new step</a>
        </div>
        
        <ul class="nav nav-tabs">
            <li class=""><a href="#tab1" data-toggle="tab">Step 1</a></li>
            <li class="active"><a href="#tab2" data-toggle="tab">Step 2</a></li>
            <li class=""><a href="#tab3" data-toggle="tab">Step 3</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                <p>I'm in Step 1.</p>
            </div>
            <div class="tab-pane active" id="tab2">
                <p>Howdy, I'm in Step 2.</p>

                <div class="pull-right btn-group">
                    <a href="#" class="btn"><i class="icon-edit"></i> Step properties</i></a>
                    <a href="#" class="btn btn-danger"><i class="icon-remove icon-white"></i> Remove section</i></a>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <p>This is Step 3.</p>
            </div>
        </div>
    </div>
</div>

<div id="sectionModal" class="modal hide fade">
    <form ng-submit="addStep()" class="no-margin">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Add a step</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Name :</label>
                    <div class="controls">
                        <input type="text" ng-model="newStepName" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Position :</label>
                    <div class="controls">
                        <input type="text" ng-model="newStepIndex" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Type :</label>
                    <div class="controls">
                        <select id="slotType" ng-model="newStepType">
                            <option value="one">One component</option>
                            <option value="multiple">Multiple components</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary"><i class="icon icon-white icon-plus"></i> Add this step</button>
        </div>
    </form>
</div>