<div class="ng-components">
    <h1>Manage your steps and components</h1>

    <div class="tabbable">
        <div class="pull-right">
            <a data-toggle="modal" href="#stepModal" class="btn"><i class="icon-plus"></i> Add a new step</a>
        </div>
        
        <ul class="nav nav-tabs">
            <li ng-repeat="step in steps"><a href="#tab{{step.index}}" data-toggle="tab">{{step.name}}</a></li>
        </ul>

        <div class="tab-content">
            <div ng-repeat="step in steps" class="tab-pane" id="tab{{step.index}}">
                {{ step }}

                <div class="pull-right btn-group">
                    <a data-toggle="modal" href="#componentModal" class="btn"><i class="icon-plus"></i> Add a new component</a>
                    <a href="" ng-click="removeStep(step.id)" class="btn btn-danger"><i class="icon-remove icon-white"></i> Remove step</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="stepModal" class="modal hide fade">
    <form ng-submit="addStep()" class="no-margin">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Add a step</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Name :</label>
                    <div class="controls">
                        <input type="text" ng-model="newStepName" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Position :</label>
                    <div class="controls">
                        <input type="text" ng-model="newStepIndex" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Type :</label>
                    <div class="controls">
                        <select id="slotType" ng-model="newStepType">
                            <option value="one">One component</option>
                            <option value="multiple">Multiple components</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary"><i class="icon icon-white icon-plus"></i> Add this step</button>
        </div>
    </form>
</div>

<div id="componentModal" class="modal hide fade">
    <form ng-submit="addComponent()" class="no-margin">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Add a component</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary"><i class="icon icon-white icon-plus"></i> Add this component</button>
        </div>
    </form>
</div>