<div class="ng-components">
    <h1>Manage your categories and components</h1>

    <div class="tabbable">
        <div class="pull-right">
            <a href="#" class="btn"><i class="icon-plus"></i> Add a new section</i></a>
        </div>
        
        <ul class="nav nav-tabs">
            <li class=""><a href="#tab1" data-toggle="tab">Section 1</a></li>
            <li class="active"><a href="#tab2" data-toggle="tab">Section 2</a></li>
            <li class=""><a href="#tab3" data-toggle="tab">Section 3</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                <p>I'm in Section 1.</p>
            </div>
            <div class="tab-pane active" id="tab2">
                <p>Howdy, I'm in Section 2.</p>

                <div class="pull-right btn-group">
                    <a href="#" class="btn"><i class="icon-edit"></i> Section properties</i></a>
                    <a href="#" class="btn btn-danger"><i class="icon-remove icon-white"></i> Remove section</i></a>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <p>This is Section 3.</p>
            </div>
        </div>
    </div>
</div>